/* HTML */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(33, 33, 33);
    margin: 0;
}

img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

h1,p,span{
    color:rgb(33, 33, 33)
}

h1{
    margin-bottom: 0.5rem;
}

button{
    background-color: rgb(33, 33, 33);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem 2rem;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
}
/* ------------- */


.card{
    background-color: white;
    width: 80%;
    height: 650px;
    max-width: 1000px;
    border-radius: 50px;

    padding: 2rem;
}
/* helper class */
.row{
    display: flex;
    justify-content: center;
}

.user-avatar {
}

.user-description{
    margin: 1rem 2rem;
    text-align: center;
}

.user-name {
    flex-direction: column;
    text-align: center;
}

/* ICONS */
.user-social-icons{
    margin:2rem;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.fa:hover{
    cursor: pointer;
    transform: scale(1.25);
    transition: .3s;
}


@media only screen and (min-width: 600px) {
    .user-social-icons{
        margin-top: 4rem;
    }
}